.footer {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  background: url(./assets/BackGround.png);
}
.linksBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.siteLinks {
  display: flex;
  align-items: center;
  a {
    font-weight: 400;
    font-size: 12px;
    color: rgba(65, 65, 65, 1);
    &:not(:last-child) {
      margin-right: 40px;
    }
    &:not(:first-child):hover {
      color: rgba(255, 102, 51, 1);
    }
  }
}
.externalLinks {
  display: flex;
}
.socialLinks {
  display: flex;
  align-items: center;
  margin-right: 40px;
  a {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }
}
.tel {
  display: flex;
  align-items: center;
  span {
    font-weight: 400;
    font-size: 16px;
    color: rgba(65, 65, 65, 1);
    margin-left: 7px;
  }
}
.author {
  display: flex;
  align-items: center;
  justify-content: end;
  p {
    font-weight: 400;
    font-size: 12px;
    color: rgba(65, 65, 65, 1);
    margin-right: 7px;
  }
}
