.inputElement {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 88px;
}

.passwordInput {
  position: relative;
  border: 1px solid rgba(191, 191, 191, 1);
  border-radius: 4px;
  height: 40px;
  &:has(input:focus),
  &:hover {
    border: 1px solid rgba(112, 192, 91, 1);
    box-shadow: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
  }
}

.errorBorder {
  border-color: rgba(254, 78, 78, 1);
  &:has(input:focus),
  &:hover {
    border: 1px solid rgba(254, 78, 78, 1);
    box-shadow: 4px 8px 16px 0px rgba(192, 91, 91, 0.2);
  }
}

.input {
  border: none;
  outline: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.label {
  font-weight: 400;
  font-size: 16px;
  color: rgba(143, 143, 143, 1);
}

.passwordIcon {
  position: absolute;
  top: 0;
  right: 9px;
  transform: translateY(25%);
  cursor: pointer;
}

.error {
  font-weight: 400;
  font-size: 16px;
  color: rgba(254, 78, 78, 1);
}
