.modalButton {
  width: 100%;
  padding: 16px;
  background-color: rgba(252, 213, 186, 1);
  border-radius: 4px;
  font-family: Rubik;
  font-weight: 400;
  font-size: 24px;
  color: rgba(255, 102, 51, 1);
  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 102, 51, 1);
    transition: all 0.4s ease;
  }
}
