.settedRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    font-weight: 700;
    font-size: 18px;
    margin-right: 16px;
  }
}

.commentInput {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(191, 191, 191, 1);
  padding: 8px 3px 8px 16px;
  margin: 16px 0;
  textarea {
    width: 100%;
    height: 100%;
    outline: 0;
    font-size: 16px;
    color: rgba(65, 65, 65, 1);
    resize: none;
    border: none;
    overflow-y: scroll;
    padding-right: 8px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2.5px;
      background-color: rgba(191, 191, 191, 1);
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 102, 51, 1);
      }
    }
    &::-webkit-scrollbar-track {
      &:hover {
        background-color: rgb(226, 226, 226);
        border-radius: 4px;
      }
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  > button {
    width: 250px;
  }
}
