.slider {
  display: flex;
  justify-content: space-between;
  width: 584px;
  height: 496px;
}

.thumbList {
  display: flex;
  flex-direction: column;
  width: 11%;
  align-items: center;
}

.scrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  width: 100%;
  background-color: #f3f2f1;
  &:hover {
    background-color: #bab9b9;
  }
}

.scrollButtonUp {
  transform: rotate(180deg);
}

.thumbs {
  display: block;
  height: 100%;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
  height: 86px;
  padding: 3px;
  &:not(:last-child) {
    margin-bottom: 16.43px;
  }
}

.titleImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  max-width: 496px;
  height: 504px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.percentage {
  position: absolute;
  top: 24px;
  right: 28px;
}
