.wr {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(252, 213, 186, 0.8);
  width: 100%;
  height: 100%;
}

.modalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  box-shadow: 8px 16px 32px 0px rgba(255, 102, 51, 0.2);
}

.closeButton {
  display: flex;
  margin-left: auto;
  background-color: rgba(243, 242, 241, 1);
  border-radius: 4px;
  padding: 8px;
}

.modalWindowContent {
  padding: 32px 80px 40px 80px;
}
