.title {
  text-align: center;
  margin-bottom: 40px;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.buttonPrew {
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.prewButtonName {
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 115, 113, 1);
  margin-left: 8px;
}

.regButton {
  border: 1px solid rgba(112, 192, 91, 1);
  width: 121px;
  height: 32px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  border-radius: 4px;
  color: rgba(112, 192, 91, 1);
}
