.switchButton {
  padding: 12px 16px;
  background-color: rgba(243, 242, 241, 1);
  color: rgba(96, 96, 96, 1);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 24px;
  &:not(:last-child) {
    margin-right: 24px;
  }
  &:hover {
    background-color: rgba(112, 192, 91, 1);
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
  }
}
.activ {
  background-color: rgba(112, 192, 91, 1);
  color: rgba(255, 255, 255, 1);
}
.map {
  width: 100%;
  border: none;
  height: 354px;
}
