.dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-8px);
  width: 100%;
  transition: transform 3s ease;
  border-radius: 4px;
  z-index: 25;
}

.dropdownVisible {
  transform: translateY(100%);
  transition: transform 3s ease;
}
