.sectionWrapper {
  margin: 80px 0 40px 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.section-link {
  display: flex;
  align-items: end;
}

.link {
  display: flex;
  text-align: center;
  color: rgba(96, 96, 96, 1);
  cursor: pointer;
  &:hover {
    color: rgba(255, 102, 51, 1);
  }
}

.rightArow {
  margin-left: 32px;
}
