.registerForm {
  display: flex;
  flex-direction: column;
  width: 552px;
}

.fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.inputColumn {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.label {
  font-weight: 400;
  font-size: 16px;
  color: rgba(143, 143, 143, 1);
}

.radio {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(243, 242, 241, 1);
  padding: 4px;
  & input {
    display: none;
  }
}

.radioElement {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.radioPassive {
  color: rgba(65, 65, 65, 1);
}

.radioActive {
  border-radius: 4px;
  background-color: rgba(112, 192, 91, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
}

.radioItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-weight: 400;
  font-size: 12px;
}
.formBtnWrap {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
