.img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bageWrapper-card {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.bageWrapper-page {
  position: absolute;
  top: 20px;
  right: 20px;
}
.like-wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
}
