.label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  font-family: Rubik;
  font-size: 12px;
  color: rgba(96, 96, 96, 1);
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

.span {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(191, 191, 191, 0.6);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  margin-right: 8px;
}

.checked {
  position: relative;
  background: rgba(112, 192, 91, 1);
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("./assets/checkIcon.svg") no-repeat center;
    background-size: 16px 12px;
  }
}

.mixed {
  position: relative;
  background: rgba(112, 192, 91, 1);
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("./assets/shape.svg") no-repeat center;
    background-size: 14px 2px;
  }
}
