.selectors {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 20px 0;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.input {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(191, 191, 191, 1);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  &::after {
    content: "";
    position: absolute;
    bottom: 6.5px;
    left: 5.04px;
    transform: translate(-10%, 25%);
    background: url(./assets/checkIcon.svg);
    background-repeat: no-repeat;
    width: 0;
    height: 0;
  }
  &:checked {
    background-color: rgba(112, 192, 91, 1);
  }
  &:checked::after {
    width: 32px;
    height: 11px;
    transition: ease-in-out 0.2s;
  }
}

.LabelDescription {
  margin-left: 10px;
  font-size: 16px;
}
