.card {
  width: min-content;
  height: max-content;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
    transform: translateY(-1px);
    transition:
      box-shadow 0.3s ease-in,
      transform 0.3s ease-in;
  }
}

.card-img {
  width: 272px;
  height: 160px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  height: 189px;
}
.item-description {
  display: -webkit-box;
  font-family: Rubik;
  font-size: 16px;
  line-height: 150%;
  width: 85%;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.descriptionIndent {
  > *:not(:last-child) {
    margin-bottom: 8px;
  }
}
.itemDescriptionIndent {
  margin-top: 18px;
}
