.modalWrapper {
  position: fixed;
  background-color: rgba(252, 213, 186, 0.8);
  z-index: 50;
  width: 0;
  height: 0;
  display: none;
}

.modalVisible {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
}

.modalElements {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 8px 16px 32px 0px rgba(255, 102, 51, 0.2);
}

.closeButton {
  display: flex;
  margin-left: auto;
  background-color: rgba(243, 242, 241, 1);
  border-radius: 4px;
  padding: 8px;
}
.modalContent {
  padding: 32px 80px 40px 80px;
}
