.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  height: 40px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(112, 192, 91, 1);
}

.input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  margin-right: 10px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  color: rgba(65, 65, 65, 1);
  &::placeholder {
    color: rgba(143, 143, 143, 1);
  }
}
