.slider {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.headerDescription {
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}

.sliderHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.defaultButton {
  width: 85px;
  height: 32px;
  padding: 4px 8px;
  background-color: rgba(243, 242, 241, 1);
  border-radius: 4px;
  font-size: 12px;
  color: rgba(96, 96, 96, 1);
  &:hover {
    color: rgba(35, 35, 35, 1);
    background-color: rgb(202, 199, 197);
  }
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 13px;
}

.handleChangeInput {
  width: 124px;
  height: 40px;
  border: 1px solid rgba(191, 191, 191, 1);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 28px;
  color: rgba(35, 35, 35, 1);
}

.dash {
  width: 15px;
  height: 1px;
  border-top: 1px solid rgba(65, 65, 65, 1);
}

.root {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.control {
  display: flex;
  align-items: center;
  width: calc(100% - 24px);
  height: 24px;
  touch-action: none;
  user-select: none;
}

.track {
  background-color: rgba(243, 242, 241, 1);
  height: 4px;
  border-radius: 2px;
  user-select: none;
  width: 100%;
}

.indicator {
  background-color: rgba(112, 192, 91, 1);
  border-radius: 2px;
  user-select: none;
}

.thumb {
  width: 24px;
  height: 24px;
  background-color: rgba(112, 192, 91, 1);
  outline: 1px solid rgba(243, 242, 241, 1);
  border-radius: 50%;
  user-select: none;
  &:hover {
    box-shadow: 2px 4px 8px 0px rgba(112, 192, 91, 0.2);
    transition: box-shadow 0.2s ease-out;
  }
  &[data-dragging] {
    box-shadow: 2px 4px 8px 0px rgba(112, 192, 91, 0.2);
  }
  &:focus-visible {
    box-shadow: 2px 4px 8px 0px rgba(112, 192, 91, 0.2);
  }
}
