.descriptionTable {
  border-collapse: collapse;
  margin-top: 24px;
}

.tableRow {
  &:nth-child(odd) {
    background-color: rgba(243, 242, 241, 1);
  }
}

.tableParametr {
  font-size: 12px;
  color: rgba(65, 65, 65, 1);
  padding: 4px 8px;
  width: 150px;
}

.tableValue {
  font-weight: 700;
  font-size: 12px;
  padding: 4px 8px;
}
