.loginButton {
  width: 157px;
}

.loginButtonContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.userPanel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  > :not(:last-child) {
    margin-right: 10px;
  }
}

.userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userName {
  font-weight: 400;
  font-size: 16px;
}

.userMenuFlag {
  width: 40px;
  height: 40px;
  padding: 16.5px 13.5px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 3s ease;
}

.userMenuFlagReverse {
  transform: rotate(180deg);
  transition: transform 3s ease;
}
