.similarProducts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.similarTitle {
  font-weight: 400;
  font-size: 16px;
  color: #606060;
}

.productCardMinimal {
  width: 168px;
  height: 104px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px #0000001a;
  &:hover {
    box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
    transform: translateY(-1px);
    transition:
      box-shadow 0.3s ease-in,
      transform 0.3s ease-in;
  }
}

.imgWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 55%;
}
.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.price {
  font-weight: 700;
  font-size: 18px;
}
