.price {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.priceWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.boldPrice {
  font-family: Rubik;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: rgba(65, 65, 65, 1);
  margin-right: auto;
}
.regularPrice {
  font-family: Rubik;
  font-size: 16px;
  line-height: 100%;
  color: rgba(96, 96, 96, 1);
  margin-left: auto;
}
.priceDescription {
  font-family: Rubik;
  font-size: 12px;
  color: rgba(191, 191, 191, 1);
}
