.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  border-radius: 4px;
  background-color: rgb(243, 242, 241);
  &:hover {
    background-color: rgb(252, 213, 186);
  }
}
.toggled {
  background-color: transparent;
  opacity: 1;
  &:hover {
    background-color: rgb(252, 213, 186);
  }
}
