@font-face {
  font-family: "Rubik";
  src: url("public/fonts/Rubik-Regular.woff") format("woff");
  src: url("public/fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("public/fonts/Rubik-Medium.woff") format("woff");
  src: url("public/fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("public/fonts/Rubik-Bold.woff") format("woff");
  src: url("public/fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Rubik", "sans-serif";
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  max-width: 100%;
  background-color: rgba(251, 248, 236, 1);
  color: rgba(65, 65, 65, 1);
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
