.userData {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  height: 64px;
  margin-bottom: 24px;
}

.fieldLabel {
  font-weight: 400;
  font-size: 16px;
  color: rgba(143, 143, 143, 1);
}

.fieldData {
  font-weight: 400;
  font-size: 16px;
  margin: 9px 17px;
}

.dataGrid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  column-gap: 40px;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
}

.stateBtn {
  border: 1px solid rgba(112, 192, 91, 1);
  width: 121px;
  height: 32px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  border-radius: 4px;
  color: rgba(112, 192, 91, 1);
}

.formBtnWrap {
  width: 260px;
  margin-left: 220px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonColoumn {
  display: flex;
  flex-direction: column;
  > :not(:last-child) {
    margin-bottom: 15px;
  }
}
